.WhyEducation-left {
  h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }

  &--features {
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
}
