// /* SCSS RGB */
// $jet: rgba(53, 53, 53, 1);
// $ming: rgba(60, 110, 113, 1);
// $white: rgba(255, 255, 255, 1);
// $gainsboro: rgba(217, 217, 217, 1);
// $indigo-dye: rgba(40, 75, 99, 1);

/* SCSS HEX */
$secondary-grey: #353535ff;
$heading: #3c6e71ff;
$white: #ffffffff;
$text: #d9d9d9ff;
$main-color: #284b63ff;
